.container {
  text-align: center;
  padding: 20px;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.backButton {
  position: absolute;
  left: -2rem;
  /* Позиционируем кнопку слева за границей */
  background: none;
  border: none;
  cursor: pointer;
}

.backIcon {
  width: 2rem;
  /* Ширина иконки */
  height: 2rem;
  /* Высота иконки */
}

.title {
  margin: 0 auto;
  font-size: 2rem;
  font-family: 'Georgia, serif';
}

.tip {
  text-align: left;
  /* Форматируем по левому краю */
  margin: 0 auto;
  max-width: 400px;
}

.tipTitle {
  font-size: 1.5rem;
  /* Крупный шрифт для названия совета */
  font-weight: bold;
  /* Жирный шрифт для названия совета */
  margin-bottom: 10px;
}

.tipContent {
  font-size: 1.2rem;
  /* Крупный шрифт для текста совета */
  margin-bottom: 10px;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
  /* Отступ между изображением и текстом */
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 20px auto;
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
}

.pageIndicator {
  font-size: 24px;
  font-family: 'Georgia, serif';
}

.bottomSpace {
  height: 20px;
}